@import './css/normalize.css';
@import './css/skeleton.css';
@import './css/icons.css';

* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

[disabled] {
  opacity: 0.5;
}

[hidden] {
  display: none !important;
}
